CONFIG_MSM_GCC_8994=y
CONFIG_MSM_MMCC_8994=y
CONFIG_PINCTRL_MSM8994=y
CONFIG_DRM_MSM_DSI_20NM_PHY=y
CONFIG_PHY_QCOM_PCIE2=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_PHY_QCOM_IPQ806X_USB=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_USB_HS=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_PHY_QCOM_USB_HSIC=y
CONFIG_UEVENT_HELPER=y
CONFIG_MFD_QCOM_RPM=y
CONFIG_SCHED_CLUSTER=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_DM_CRYPT=y